@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  padding: 0px !important;
}

a {
  font-family: "Lato", sans-serif;
}

@layer utilities {
  .light-theme {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }

  .dark-theme {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }

  .title-color {
    color: #878C90;
  }

  .bg-niki-blue {
    background-color: #1D2E66;
  }
}


body {
  font-family: "Baloo 2", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F6FFF4;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

a.menu-link:hover {
  color: #fff !important;

}

.menu-box {
  width: 358px;
height: 168px;
flex-shrink: 0; 
border-radius: 5px;
background: #1D2E66;
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15); 
}

.box {
  height: 39px;
  width: 496px;
}

.entry-content {
  background-color: #f3f6f6;
}

.box .rectangle {
  background-color: #f1f1f4;
  border: 1px solid;
  border-color: #efefef;
  border-radius: 23px;
  height: 39px;
  left: 0;
  top: 0;
  width: 496px;
}

.custom-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-10%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.ast-primary-header-bar {
  background-color: #02132f;
}

.custom-logo {
  height: 34px;
  width: 120px;
}

#loginForm > div, #registerForm > div {
  padding: 0px !important;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-top: 7rem;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#logo-img {
  width: 200px;
}

h3 {
  color: #878C90;
}

h4 {
  color: #1d3f66;
  font-size: 24px;
  margin-bottom: -20px;
}

.btnBox {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.font-lato {
  font-family: "Lato", sans-serif !important;
}

.site-branding.ast-site-identity {
  padding: 0px !important;
}

.site-header-primary-section-right {
  height: 70px !important;
  padding: 0px;
  margin-right: 12px !important;
}

.login-button {
  background-color: rgba(61, 53, 47, 0.36);
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: 0;
  border: 1px solid rgba(244, 244, 244, 0.80);
  border-radius: 28px !important;
  cursor: pointer;
  will-change: box-shadow, transform;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  color: #fff;
  width: 144.025px;
  height: 39px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-top: 1rem;
}

ul > li {
  margin-left: 1rem;
}

ul.main-header-menu > li {
  margin-left: 0rem !important;
}


.members-cat {
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  cursor: pointer;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);

}

.members-cat:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}


ul {
  margin-left: 0px !important;
}
.clear-button {
  background: rgb(15, 21, 62);
  display: inline-block;
  cursor: pointer;
  will-change: box-shadow, transform;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.clear-button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #1f6e50;
  transform: translateY(-2px);
}

.clear-button:active {
  box-shadow: inset 0px 3px 7px#1b4b38;
  transform: translateY(2px);
}


.btn {
  display: inline-block;
  font-size: 14px;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%,
  #1d3f66 0%,
  #1D2E66 100%);
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.btn:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #1D2E66;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: inset 0px 3px 7px#1b4b38;
  transform: translateY(2px);
}

.form-container {
  background-color: #D9D9D9;
   padding: 0 2rem 2rem 2rem !important;
}

label {
  color: rgba(0, 0, 0, 0.811) !important;
  opacity: 1;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 0px;
}

.tab button {
  background-color: #d9d9d9;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  border-radius: 8px 8px 0 0;
}

.tab button:hover {
  background-color: #fff;
}

.tab button.active {
  color: #fff;
  background: radial-gradient(100% 100% at 100% 0%,
  #1D2E66 0%,
  #0f153e 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
}

.active-link {
  color: #2FC1FF !important;
}

.tabcontent {
  display: none;
}

#primary-site-navigation-desktop {
  padding: 0px !important;
}


.pagination>nav>ul>li>button {
  padding-left: 8px;
  padding-right: 8px;
}

.pagination>nav>ul>li>button>svg {
  margin-top: 2px;
}

.pagination>nav>ul>li[aria-current="page"]>button {
  background-color: #2FC1FF;
}

.pagination>nav>ul>li>button {
  padding: 10px !important;
}

.pagination>nav>ul>li {
  list-style-type: none;
  
}

li>button:hover {
  background-color: #2f7fff !important;
}

.search-mode > button {
  border: 0px;
  background:  transparent !important;
}

form {
  display: flex;
  flex-direction: column;
}

.loginInput > div {
  padding: 0px !important;
  margin-top: 1rem;
}

form input {
  background: #eee;
  color: #02132f;
  font-family: "Lato", sans-serif;
}

.chosen-source {
  border: 2px solid #1D2E66;
}

select option {
  border: none;
  padding: 12px;
  background: #eee;
  font-size: 16px;
  margin-left: 4px;
  font-weight: 100;
  font-family: "Lato", sans-serif;
}

#uploadButton {
  background: radial-gradient(100% 100% at 100% 0%,
      #29946b 0%,
      #81a256 100%);
  color: white;
  font-weight: bold;
}

#uploadButton:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #1f6e50;
  transform: translateY(-2px);
}