@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap'); 

body { 
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
} 

body { 
    margin: 0;
} 

body { 
    color: #808285; 
    background: #fff; 
    font-style: normal;
} 

body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

body { 
    line-height: 1.85714285714286;
} 

body { 
    background-color: #fff;
} 

body { 
    overflow-x: hidden;
} 

body { 
    font-family: 'Lato',sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: var(--ast-body-line-height,1.7em);
} 

body { 
    color: var(--ast-global-color-3);
} 

body { 
    background-color: var(--ast-global-color-4); 
    background-image: none;
} 

body { 
    --wp--preset--color--ast-global-color-0: var(--ast-global-color-0); 
    --wp--preset--color--ast-global-color-1: var(--ast-global-color-1); 
    --wp--preset--color--ast-global-color-2: var(--ast-global-color-2); 
    --wp--preset--color--ast-global-color-3: var(--ast-global-color-3); 
    --wp--preset--color--ast-global-color-4: var(--ast-global-color-4); 
    --wp--preset--color--ast-global-color-5: var(--ast-global-color-5); 
    --wp--preset--color--ast-global-color-6: var(--ast-global-color-6); 
    --wp--preset--color--ast-global-color-7: var(--ast-global-color-7); 
    --wp--preset--color--ast-global-color-8: var(--ast-global-color-8); 
} 

body { 
    margin: 0; 
    --wp--style--global--content-size: var(--wp--custom--ast-content-width-size); 
    --wp--style--global--wide-size: var(--wp--custom--ast-wide-width-size);
} 

body { 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

:root { 
    --ast-global-color-0: #2FC1FF; 
    --ast-global-color-1: #08ACF2; 
    --ast-global-color-2: #101218; 
    --ast-global-color-3: #4C5253; 
    --ast-global-color-4: #F3F6F6; 
    --ast-global-color-5: #FFFFFF; 
    --ast-global-color-6: #000000; 
    --ast-global-color-7: #4B4F58; 
    --ast-global-color-8: #F6F7F8;
} 

:root { 
    --ast-border-color: #dddddd;
} 

:root { 
    --e-a-color-txt-disabled: #babfc5; 
    --e-a-color-txt-invert: #fff; 
    --e-a-border-color: #e6e8ea; 
    --e-a-border-color-bold: #d5d8dc; 
    --e-a-border: 1px solid var(--e-a-border-color); 
    --e-a-border-bold: 1px solid var(--e-a-border-color-bold); 
    --e-a-btn-color-invert: var(--e-a-color-txt-invert); 
    --e-a-btn-color-disabled: var(--e-a-color-txt-disabled); 
} 

.main-header-bar { 
    background-color: #fff; 
    border-bottom-color: var(--ast-border-color); 
    border-bottom-style: solid;
} 

.main-header-bar { 
    margin-left: auto; 
    margin-right: auto;
} 

.main-header-bar { 
    z-index: 4; 
    position: relative;
} 

@media (min-width: 922px){ 
  .main-header-bar { 
    border-bottom-width: 0px;
  } 

  .ast-primary-header-bar { 
    border-bottom-width: 0px; 
    border-bottom-color: #eaeaea; 
    border-bottom-style: solid;
  } 
}     

.ast-primary-header-bar { 
    background-color: var(--ast-global-color-5); 
    background-image: none;
} 

.ast-primary-header-bar { 
    display: block;
} 

@media (min-width: 921px){ 
  .main-header-bar  { 
    background: none;
  } 

  [class*="-header-wrap"]:nth-last-child(2) > [class*="-header-bar"]  { 
    border-bottom-width: 0px; 
    border-bottom-style: solid; 
    border-bottom-color: #ffffff;
  } 
}     

*,:after,:before { 
    box-sizing: inherit;
} 

:selection { 
    color: #fff; 
    background: #0274be;
} 

:selection { 
    background-color: var(--ast-global-color-0); 
    color: #000000;
} 

.ast-container { 
    max-width: 100%;
} 

.ast-container { 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 20px; 
    padding-right: 20px;
} 

.ast-builder-grid-row-container { 
    display: grid; 
    align-content: center;
} 

@media (min-width: 544px){ 
  .ast-container { 
    max-width: 100%;
  } 
}     

@media (min-width: 922px){ 
  .ast-container { 
    max-width: 1240px;
  } 
}     

.site-primary-header-wrap  { 
    min-height: 70px;
    padding-left: 12px !important;
} 

.ast-builder-grid-row { 
    display: grid; 
    grid-template-columns: auto auto; 
    align-items: center; 
    grid-column-gap: 20px; 
    overflow-wrap: anywhere;
} 

.site-header-section { 
    height: 100%; 
    min-height: 0; 
    align-items: center;
} 

.ast-flex { 
    -js-display: flex; 
    display: flex; 
    flex-wrap: wrap;
} 

.ast-builder-grid-row > .site-header-section  { 
    flex-wrap: nowrap;
} 

.ast-grid-right-section { 
    justify-content: flex-end;
} 

.ast-builder-layout-element { 
    align-items: center;
} 

.site-header-section > *  { 
    padding: 0 10px;
} 

.ast-builder-layout-element[data-section="title_tagline"] { 
    display: flex;
} 

.site-header-section > div:first-child  { 
    padding-left: 0;
} 

.site-header-section > div:last-child  { 
    padding-right: 0;
} 

.ast-builder-menu-1 { 
    font-family: inherit; 
    font-weight: inherit;
} 

.ast-builder-menu-1 { 
    display: flex;
} 

.site-header-section .ast-builder-menu  { 
    align-items: center;
} 

.ast-header-button-1[data-section="section-hb-button-1"] { 
    display: flex;
} 

.site-branding { 
    line-height: 1; 
    align-self: center;
} 

.ast-site-identity { 
    padding: 1em 0;
} 

.ast-main-header-bar-alignment  { 
    margin-left: auto;
} 

.site-header-section .ast-main-header-bar-alignment  { 
    height: 100%;
} 

.main-header-bar-navigation  { 
    height: 100%;
} 

a { 
    background-color: transparent;
} 

a { 
    color: #4169e1;
} 

a { 
    text-decoration: none;
} 

a { 
    transition: all .2s linear;
} 

a { 
    color: var(--ast-global-color-0);
} 

a:where(:not(.wp-element-button)) { 
    text-decoration: none;
} 

a { 
    text-decoration: none; 
    background-color: transparent; 
    -webkit-text-decoration-skip: objects;
} 

a,a:visited { 
    text-decoration: none;
} 

a,a:hover,a:visited { 
    text-decoration: none;
} 

a:hover { 
    color: #191970;
} 

a:hover { 
    outline: 0;
} 

a:hover { 
    color: var(--ast-global-color-1);
} 

[data-section*="section-hb-button-"] .menu-link  { 
    display: none;
} 

@media (min-width: 921px){ 
  .ast-transparent-mobile-logo { 
    display: none;
  } 
}     

nav { 
    display: block;
} 

.site-navigation { 
    height: 100%;
} 

.ast-flex-grow-1 { 
    flex-grow: 1;
} 

.ast-custom-button { 
    line-height: 1.85714285714286;
} 

.ast-custom-button { 
    font-family: 'Lato',sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: var(--ast-body-line-height,1.7em);
} 

.ast-custom-button { 
    border-style: solid; 
    border-top-width: 0; 
    border-right-width: 0; 
    border-left-width: 0; 
    border-bottom-width: 0; 
    color: #000000; 
    border-color: var(--ast-global-color-0); 
    background-color: var(--ast-global-color-0); 
    padding-top: 17px; 
    padding-right: 40px; 
    padding-bottom: 17px; 
    padding-left: 40px; 
    font-family: inherit; 
    font-weight: 700; 
    font-size: 0.875rem; 
    line-height: 1em; 
    text-transform: uppercase; 
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border-bottom-left-radius: 30px;
} 

a *  { 
    transition: all .2s linear;
} 

.ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button  { 
    font-size: 0.875rem;
} 

.ast-header-button-1[data-section*="section-hb-button-"] .ast-builder-button-wrap .ast-custom-button  { 
    padding-top: 16px; 
    padding-bottom: 16px; 
    padding-left: 40px; 
    padding-right: 40px;
} 

.ast-custom-button:hover { 
    color: #000000; 
    background-color: var(--ast-global-color-1); 
    border-color: var(--ast-global-color-1);
} 

img { 
    border: 0;
} 

img { 
    height: auto; 
    max-width: 100%;
} 

img { 
    vertical-align: middle;
} 

img { 
    display: block; 
    border-style: none;
} 

.site-logo-img img  { 
    transition: all 0.2s linear;
} 

.custom-logo-link img  { 
    max-width: 120px;
} 

.site-logo-img .transparent-custom-logo img  { 
    max-width: 120px;
} 

.main-navigation { 
    height: 100%; 
    -js-display: inline-flex; 
    display: inline-flex;
} 

.ast-inline-flex { 
    -js-display: inline-flex; 
    display: inline-flex; 
    align-items: center; 
    flex-wrap: wrap; 
    align-content: center;
} 

.ast-builder-menu .main-navigation  { 
    padding: 0;
} 

ul { 
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
} 

ul { 
    margin: 0 0 1.5em 3em;
} 

ul { 
    list-style: disc;
} 

.main-navigation ul  { 
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
    position: relative;
} 

.ast-builder-menu .main-navigation > ul  { 
    align-self: center;
} 

@media (min-width: 922px){ 
  .ast-builder-menu .main-header-menu  { 
    background-color: rgba(255,255,255,0);
  } 

  .ast-builder-menu .main-header-menu  { 
    color: var(--ast-global-color-5);
  } 
}     

li { 
    border: 0; 
    font-size: 100%; 
    font-style: inherit; 
    font-weight: inherit; 
    margin: 0; 
    outline: 0; 
    padding: 0; 
    vertical-align: baseline;
} 

.main-header-menu .menu-item  { 
    position: relative;
} 

.main-header-menu .menu-item  { 
    -js-display: flex; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -moz-box-orient: vertical; 
    -moz-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.ast-primary-header-bar .main-header-menu > .menu-item  { 
    line-height: 70px;
} 

.main-header-menu .menu-link  { 
    text-decoration: none; 
    padding: 0 1em; 
    display: inline-block; 
    transition: all .2s linear;
} 

@media (min-width: 922px){ 
  .main-header-menu .menu-link  { 
    background-color: rgba(255,255,255,0);
  } 
}     

.ast-builder-menu-1 .menu-item > .menu-link  { 
    color: var(--ast-global-color-8);
} 

.main-header-menu > .menu-item > .menu-link  { 
    height: 100%; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -moz-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -js-display: flex; 
    display: flex;
} 

.ast-builder-menu-1 .menu-item.current-menu-item > .menu-link  { 
    color: var(--ast-global-color-0);
} 

@media (min-width: 922px){ 
  .ast-builder-menu .main-header-menu .menu-link ,[class*="ast-builder-menu-"] .main-header-menu .menu-item > .menu-link ,.main-header-menu .menu-link  { 
    color: var(--ast-global-color-5);
  } 

  .ast-builder-menu .main-header-menu .current-menu-item > .menu-link ,[class*="ast-builder-menu-"] .main-header-menu .current-menu-item > .menu-link ,.main-header-menu .current-menu-item > .menu-link  { 
    color: var(--ast-global-color-4);
  } 
}     

.ast-builder-menu-1 .menu-item:hover > .menu-link { 
    color: var(--ast-global-color-0);
} 

@media (min-width: 922px){ 
  .ast-theme-transparent-header .ast-builder-menu .main-header-menu .menu-item:hover > .menu-link,.ast-builder-menu .main-header-menu .current-menu-item > .menu-link ,[class*="ast-builder-menu-"] .main-header-menu .current-menu-item > .menu-link , .ast-theme-transparent-header .main-header-menu .menu-item:hover > .menu-link,.main-header-menu .current-menu-item > .menu-link  { 
    color: var(--ast-global-color-4);
  } 
}     

.ast-builder-menu-1 .menu-item:hover > .menu-link, .ast-builder-menu-1 .inline-on-mobile .menu-item:hover > .ast-menu-toggle { 
    color: var(--ast-global-color-0);
} 

@media (min-width: 922px){ 
  .ast-theme-transparent-header .ast-builder-menu .main-header-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .menu-item:hover > .ast-menu-toggle, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .ast-masthead-custom-menu-items a:hover, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .focus > .menu-link, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .focus > .ast-menu-toggle, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .current-menu-item > .menu-link, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .current-menu-ancestor > .menu-link, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .current-menu-item > .ast-menu-toggle, .ast-theme-transparent-header .ast-builder-menu .main-header-menu .current-menu-ancestor > .ast-menu-toggle, .ast-theme-transparent-header [class*="ast-builder-menu-"] .main-header-menu .current-menu-item > .menu-link, .ast-theme-transparent-header [class*="ast-builder-menu-"] .main-header-menu .current-menu-ancestor > .menu-link, .ast-theme-transparent-header [class*="ast-builder-menu-"] .main-header-menu .current-menu-item > .ast-menu-toggle, .ast-theme-transparent-header [class*="ast-builder-menu-"] .main-header-menu .current-menu-ancestor > .ast-menu-toggle, .ast-theme-transparent-header .main-header-menu .menu-item:hover > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-item > .menu-link, .ast-theme-transparent-header .main-header-menu .current-menu-ancestor > .menu-link { 
    color: var(--ast-global-color-4);
  } 

  .ast-builder-menu .main-navigation > ul > li:last-child a  { 
    margin-right: 0;
  } 
}     



.elementor-7 .elementor-element.elementor-element-24aa96b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.43;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 80px;
    --padding-block-end: 80px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

#niki-bg  {
    background-image: url("https://subra.ics.forth.gr/wp-content/uploads/2024/01/NIKH-Platform-pages.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#niki-bg {    --background-overlay: '';
    /* background-color: #1D2E66; */
    height: 340px;
}

.elementor-7 .elementor-element.elementor-element-24aa96b, .elementor-7 .elementor-element.elementor-element-24aa96b::before {
    --border-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-bc7410c {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-eb5b40e {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-eb5b40e .elementor-heading-title {
    color: var( --e-global-color-astglobalcolor5 );
}

@media(min-width: 768px) {
    .elementor-7 .elementor-element.elementor-element-24aa96b {
        --content-width:800px;
    }
}

@media(min-width: 1025px) {
    .elementor-7 .elementor-element.elementor-element-24aa96b:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-24aa96b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment:scroll;
    }
}

@media(max-width: 1024px) {
    .elementor-7 .elementor-element.elementor-element-24aa96b {
        --padding-block-start:120px;
        --padding-block-end: 100px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
}

@media(max-width: 767px) {
    .elementor-7 .elementor-element.elementor-element-24aa96b {
        --padding-block-start:120px;
        --padding-block-end: 60px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-bc7410c {

    }
}

.elementor-heading-title {
    font-size: 4rem;
    font-family: 'Poppins',sans-serif !important;
    line-height: 1em;
    color: #fff !important;
    font-weight: 1000;
    padding: 0px;
    letter-spacing :0.02em;
    margin-left: -5px !important;
    text-transform: capitalize;
}

#bg-container {
    background-image: url("https://subra.ics.forth.gr/wp-content/uploads/2024/01/NIKH-Platform-pages.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

#bg-container::before {
    --background-overlay: '';
    background-color: #1D2E66;

}